body{
  background-color: rgb(158, 151, 151);
  font-family: 'Times New Roman', Times, serif;
}

.main{
  display: flex;
  justify-content: space-around;
}
.biography{
  text-align: center;
}

img{
  align-items: center;
  border-radius: 20px;
}
.header{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;

}
.skillsd{
  background-color: blueviolet;
  color: aliceblue;
  font-size: 15px;
  width: max-content;
}